<footer id="footer">
        <div class="container">
                <div class="row">
                        <div class="8u 12u$(medium)">
                                <ul class="copyright">
                                        <li>Copyright &copy; H-Net 2016</li>
                                </ul>
                        </div>
                        <div class="4u$ 12u$(medium)">
                                <ul class="icons">
                                        <li>
                                                <a class="icon rounded fa-facebook" href="https://www.facebook.com/HNetSocial/" target="_blank"><span class="label">Facebook</span></a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
</footer>