<header id="header">
    <h1 style="color:white;"><a href="http://www.hnet.vn">HNET</a></h1>
    
    <nav id="nav">
            <ul>
                    <li><a href="http://www.hnet.vn">Home</a></li>
                    <li><a href=".">Blog</a></li>
                    <li>
                            <a href="#" class="tip">
                                    Wiki
                                    <span>
                                            Coming soon!
                                    </span>
                            </a>
                    </li>
                    <li><a href="http://www.hnet.vn/team">Team</a></li>
                    <li><a href="http://www.hnet.vn/contact">Contact Us</a></li>
            </ul>
    </nav>
</header>