<header id="header">
    <h1 style="color:white;"><a href=".">H-Net Blog</a></h1>
    
    <nav id="nav">
            <ul>
                    <li><a href="http://www.hnet.vn">H-Net</a></li>
                    <li><a href=".">Blog</a></li>
                    <li>
                            <a href="#" class="tip">
                                    Wiki
                                    <span>
                                            Coming soon!
                                    </span>
                            </a>
                    </li>
                    
                    <li>
                            <a href="#" class="tip">
                                    Team
                                    <span>
                                            Coming soon!
                                    </span>
                            </a>
                    </li>
                    
                    <li>
                            <a href="#" class="tip">
                                    Contact
                                    <span>
                                            Coming soon!
                                    </span>
                            </a>
                    </li>
            </ul>
    </nav>
</header>